{% extends 'layout.html' %}

{% block body %}
<div class="container mx-auto p-5">
    <h1 class="text-4xl font-bold">
        Explore Mysteries
    </h1>

    <div class="flex flex-wrap p-4 gap-4 grid-cols-none">
        {% for mystery in mysteries %}
        <a href="{% url 'view_mystery' mystery.id %}" class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
            <!-- <img class="w-full" src="mystery-image.jpg" alt="Mystery Image"> -->
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">{{mystery.title}}</div>
                <p class="text-gray-700 text-base line-clamp-6">
                    {{mystery.description}}
                </p>
            </div>
            <div class="px-6 py-4">
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#detective</span>
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#heist</span>
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#family</span>
            </div>
        </a>
        {% endfor %}
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-white">
            <!-- <img class="w-full" src="mystery-image.jpg" alt="Mystery Image"> -->
            <div class="px-6 py-4">
                <div class="font-bold text-xl mb-2">The Mystery of the Missing Heirloom</div>
                <p class="text-gray-700 text-base">
                    When a valuable family heirloom goes missing, it's up to you to solve the mystery and track down the
                    thief. Can you uncover the clues and solve the case?
                </p>
            </div>
            <div class="px-6 py-4">
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#detective</span>
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2">#heist</span>
                <span
                    class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700">#family</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}