{% extends 'layout.html' %}

{% block body %}
<div class="container">

    <div class="max-w-2xl mx-auto px-4 py-8">
        <div class="flex items-center mb-4">
            <div>
                <h2 class="font-bold text-2xl mb-2">{{user_profile.username}}</h2>
                <p class="text-gray-700 text-lg">Mystery Solver</p>
            </div>
        </div>
        <div class="mb-4">

            {% if user_profile == user %}
            <form method="post" class="flex flex-col mt-4 justify-center gap-4" id="bio-form">
                {% csrf_token %}

                <div class="flex flex-col gap-2  justify-start">
                    <label for="bio" class="text-lg font-bold">Bio: </label>
                    <textarea type="text" class="rounded" name="bio" id="bio" placeholder="Tell about yourself"
                        required>{{user_profile.bio}}</textarea>
                </div>
                <div>

                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>

            {% else %}
            <h3 class="font-bold text-lg mb-2">Bio</h3>
            <p class="text-gray-700 text-base">{{ user_profile.bio|default:"No bio" }}</p>
            {% endif %}

        </div>
        <div class="mb-4">
            <h3 class="font-bold text-lg mb-2">Skills</h3>
            <ul class="text-gray-700 text-base">
                <li>Mystery Solving</li>
                <li>Evidence Analysis</li>
                <li>Interrogation</li>
            </ul>
        </div>
        <div class="mb-4">
            <h3 class="font-bold text-lg mb-2">Answers</h3>
            {% for answer in answers %}
            <div class="w-full rounded overflow-hidden shadow-lg bg-white mb-4">
                <!-- <img class="w-full" src="mystery-image.jpg" alt="Mystery Image"> -->
                <div class="px-6 py-4">
                    <a href="{% url 'view_mystery' answer.mystery.id %}"
                        class="font-bold text-xl mb-2">{{answer.mystery.title}}</a>
                    <p class="text-gray-700 text-base">
                        {{answer.answer}}
                    </p>
                    <div>
                        Status:
                        {% if not answer.reviewed %}
                        Review pending
                        {% elif answer.correct %}
                        Correct
                        {% else %}
                        Wrong
                        {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            No Answers yet
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}